{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="">Home</a>
      </li>

      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Branches </a>
        <div class="dropdown-menu active" aria-labelledby="navbarDropdown">
          <a class="dropdown-item active" href="https://en.wikipedia.org/wiki/Palakkad">Palakkad</a>
          <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Kozhikode">Kozhikode</a>
          <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Kannur">Kannur</a>
          <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Thiruvananthapuram">Thiruvananthapuram</a>
          <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Thrissur">Thrissur</a>
        </div>
      </li>

      <li class="nav-item active">
        <a class="nav-link " href="{% url 'bankapp:signup' %}">Register</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link " href="{% url 'bankapp:about' %}">About us</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link " href="https://en.wikipedia.org/wiki/Bank">Contact</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'bankapp:login' %}">Login</a>
    </form>
  </div>
</nav>
