{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" >
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/22fe827ece.js" crossorigin="anonymous"></script>
    <meta name="description" content="{% block metadescription %}{% endblock %}">
</head>

 <body onload="load();">
        <div id="header">
            <h1 style="text-align:center">Bank Registration Form</h1>
            <a href="{% url 'bankapp:index' %}"><img src="{% static 'img/banklogo.png' %}" width="100" height="70 px" alt="Online Banking Website"
                    title="Online Banking Website"></a>
            {% include 'navbar.html' %}

        </div>
        <form action="" method="POST" style="text-align:center;color:black;">
          {% csrf_token %}
            <fieldset>
                <legend >Register Form</legend>
                 <label>Name : </label><input  type="text" name="username" placeholder="Enter Your Name"><br><br>
                  <label>Date of Birth : </label><input  type="date" name="dob" ><br><br>
                    <label>Age : </label><input  type="text" name="age" placeholder="Enter Your Age"><br><br>
                     <label>Address : </label> <input  type="text" name="address" placeholder="Enter Your Address"><br><br>

                          <label for="district">Choose the District:</label>
                              <select name="district" id="district">
                                <option value="-----">--select the district--</option>
                                <option value="thiruvanathapuram">Thiruvananthapuram</option>
                                  <option value="kollam">Kollam</option>
                                    <option value="palakkad">Palakkad</option>
                                      <option value="thrissur">Thrissur</option>
                                        <option value="wayanad">Wayanad</option>
                                          <option value="Edukki">Edukki</option>
                                            <option value="kozhikode">Kozhikode</option>
                                              </select><br><br>

                                         <label for="branch=district">Choose the Branch:</label>
                                            <select name="branch" id="branch=district">
                                              <option value="-----">--select the branch--</option>
                                              <option value="Thiruvananthapuram">Kovalam</option>
                                              <option value="Thiruvananthapuram">Trivandrum City</option>
                                              <option value="Kollam">Karunagappally</option>
                                              <option value="Kollam">Kollam City</option>
                                              <option value="Palakkad">Chandranagar</option>
                                              <option value="Palakkad">Kollenkode</option>
                                              <option value="Thrissur">Thrissur City</option>
                                              <option value="Thrissur">Kodungallur</option>
                                              <option value="Wayanad">Kalpetta</option>
                                              <option value="Wayanad">Sulthan Bathery</option>
                                              <option value="Edukki">Idukki Town</option>
                                              <option value="Edukki">Munnar</option>
                                              <option value="Kozhikode">Kozhikode City</option>
                                              <option value="Kozhikode">Vadakara</option>
                                              </select><br><br>

                                          <label for="account type">Choose the Account type:</label>
                                            <select name="account type" id="account type">
                                              <option value="-----">--select the account--</option>
                                                <option value="savings account">Savings Account</option>
                                                 <option value="current account">Current Account</option>
                                                   <option value="student account">Student Account</option>
                                                    <option value="joint account">Joint Account</option>
                                                      <option value="business account">Business Account</option>
                                              </select><br><br>


                         <label>Gender : </label> <input type="radio" name="gender"><label style="font-size:15px">MALE</label><input type="radio" name="gender"><label style="font-size:15px">FEMALE</label><br><br>
                           <label>Email : </label><input  type="email" name="emailid" placeholder="Enter Your Email"><br><br>
                             <label>Phone No : </label><input  type="text" name="phoneno" placeholder="Enter Your Phone no"><br><br>
                                <label>Password : </label> <input s type="password" name="password" placeholder="Enter Your Password"><br><br>
                                  <label>Confirm Password : </label> <input type="password" name="password" placeholder="Enter Your Password"><br><br>
                                    <label>Material Provided : </label>
                                        <input type="checkbox" name="application"><label>Checkbook</label>
                                          <input type="checkbox" name="application"><label>Debit Card</label>
                                            <input type="checkbox" name="application"><label>Credit Card</label><br><br>
                <input type="checkbox" name="application"><label style="font-size:20px"> <b>I confirm that I have seen identification documents relating to this person, and I agree with the terms and conditions</b></label><br><br>

                            <a class="btn btn-danger" href="{% url 'bankapp:confirmpage' %}" style="font-size:10px;"><b>Submit</b></a>
            </fieldset>
        </form>

{% include 'footer.html' %}

    </body>


